@page "/"

<PageTitle>Hi! I'm Miguel!</PageTitle>

<section class="business-card">
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex flex-column left-content align-items-center">
                <section class="d-flex justify-content-center">
                    <img class="img-responsive rounded-circle" src="images/profile-picture.jpeg" />                    
                </section>
                <section class="mt-5">
                    <ul class="list-unstyled d-flex social-links justify-content-center">
                        <li class="me-3">
                            <a href="https://github.com/miguelsalamera" target="_blank">
                                <img src="images/icons8-github-480.png" alt="Github"/>
                            </a>
                        </li>
                        <li class="me-3">
                            <a href="https://www.linkedin.com/in/miguelsalamera" target="_blank">
                                <img src="images/icons8-linkedin-480.png" alt="LinkedIn"/>
                            </a>
                        </li>
                        <li class="me-3">
                            <a href="mailto:salameramiguel@gmail.com" target="_blank">
                                <img src="images/icons8-mail-480.png" alt="Email"/>
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-2 d-flex middle-content justify-content-center">
                <div class="vr align-self-middle"></div>
            </div>
            <div class="col-6 right-content">
                <section>
                    <h1 class="display-4">Miguel Salamera</h1>
                    <p class="">A solution-focused software engineer and web developer aiming to be 1% better every day.</p>
                </section>
                <hr />
                <section>
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#">
                            <img src="images/icons8-work-100.png" class="me-2"/> Projects
                        </a>
                        <a class="nav-link" href="#">
                            <img src="images/icons8-career-100.png" class="me-2"/> Career History
                        </a>
                        <a class="nav-link" href="#">
                            <img src="images/icons8-education-100.png" class="me-2"/> Educational History
                        </a>
                        <hr />
                        <a class="nav-link" href="#">
                            <img src="images/icons8-two-hands-100.png" class="me-2"/> References
                        </a>
                    </nav>
                </section>
            </div>
        </div>
    </div>
</section>